# Neon PostgreSQL (development branch)
DATABASE_URL="postgresql://user:password@ep-xxxxx.us-east-2.aws.neon.tech/devstash?sslmode=require"
AUTH_SECRET="auth_secret"
AUTH_GITHUB_ID="github_id"
AUTH_GITHUB_SECRET="github_secret"
RESEND_API_KEY="resend_api_key"
NEXTAUTH_URL="http://localhost:3000"